<h1> New Vehicle </h1>
 
 <%= form_for(@vehicle, url: vehicles_path(@vehicle), method: :post) do |f| %>
  <%= f.text_field :license %>
  <%= f.select :category, options_for_select(@categories) %>
  <%= f.select :sub_category, options_for_select(@sub_categories) %>
  <%= f.submit %>

 <% end %>